params {
    // Where CATH data are stored
    cath_dir = "$DATA/cath"

    // Where the project data are stored
    project_dir = "$DATA/mgy_clusters_3.40.50.1820"

    // Which CATH superfamily to search for
    superfamily = "3.40.50.1820"

    // Where to publish results
    publish_dir = "$DATA/mgy_clusters_3.40.50.1820/funfam"

    // How many FASTA records to split the database up into for each job
    n_records_per_split = 1000

    // TEMP
    // n_splits = 2
}

env {
    // Julia environment to use
    JULIA_PROJECT="$CATH_PROJECT/mgy_clusters_3.40.50.1820"
}

process {
    cache = "lenient"
}

executor {
    name = "lsf"
    queueSize = 1000
}

singularity {
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/hscholes"
}
