params {
    // Where upstream results from this project are stored
    project_dir = "$DATA/mgy_clusters_3.40.50.1820"

    // Where CATH data are stored
    cath_dir = "$DATA/cath"

    // Which CATH superfamily to search for
    superfamily = "3.40.50.1820"

    // Where to publish results
    publish_dir = "$DATA/mgy_clusters_3.40.50.1820/cluster_domain_sequences"
}

env {
    // Julia environment to use
    JULIA_PROJECT="$CATH_PROJECT/mgy_clusters_3.40.50.1820"
}

process {
    cache = "lenient"
    errorStrategy = "retry"
    maxRetries = 1
}

executor {
    name = "lsf"
}

singularity {
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/hscholes"
}
