params {
    // Where CATH data are stored
    cath_dir = "$DATA/cath"

    // Which CATH superfamily to search for
    superfamily = "3.40.50.1820"

    // Where MGnify sequences are stored
    mgnify_dir = "$DATA/metagenomics"

    // How many sequences are in MGnify
    mgnify_db_size = 304820129

    // Where to publish results
    publish_dir = "$DATA/mgy_clusters_3.40.50.1820/find_cath_superfamily_domains_in_mgnify"

    // How many FASTA records to split the database up into for each job
    n_records_per_split_sf = 1000000 // Runtime = 30 mins per 1M sequences on 4 cores
    n_records_per_split_all = 10000 // Runtime = 60 mins per 10k sequences on 4 cores

    // TEMP
    // n_splits = 10
}

env {
    // Julia environment to use
    JULIA_PROJECT="$CATH_PROJECT/mgy_clusters_3.40.50.1820"
}

process {
    cache = "lenient"
    errorStrategy = "retry"
    maxRetries = 1
}

executor {
    name = "lsf"
    queueSize = 1000
}

singularity {
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/hscholes"
}
